torch >= 2.3.0             # all
jupyterlab >= 4.0          # all
tiktoken >= 0.5.1          # tokenizer; gptModel; evaluate
matplotlib >= 3.7.1        # gptModel; fine-tuning-classification; fine-tuning-instructions
tensorflow >= 2.18.0       # evaluate; fine-tuning-classificaation; fine-tuning-instructions
tqdm >= 4.66.1             # evaluate; fine-tuning-instructions
numpy >= 1.26, < 2.1       # dependency of several other libraries like torch and pandas
pandas >= 2.2.1            # fine-tuning-classification
psutil >= 5.9.5            # fine-tuning-instructions; already installed automatically as dependency of torch
